<section class="content-header">
  <h1>
    Adds
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box-header with-border">
        <button class="btn btn-primary pull-right btn-sm" ng-click="onEdit()">
          Add New
        </button>
      </div>
      <div class="box">
        <div class="box-body">
          <div class="row">
            <label class="col-md-1 col-sm-1 col-xs-1">Search</label>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <input
                type="text"
                name="search"
                placeholder="search student"
                ng-model="searchBox"
                style="
                  width: 83%;
                  height: 28px;
                  margin-right: 94px;
                  border: 1px solid black;
                "
              />
            </div>
          </div>
          <div style="overflow: auto;">
            <table
              id="prod-cat-table"
              class="table table-bordered table-striped table-hover"
            >
            
              <thead>
                <tr>
                  <th>Name</th>
                  <th>No Of Clicks</th>
                  <th>Link</th>
                  <th align="center" style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in adds | filter:searchBox" >
                  <td ng-click="onEdit(item._id)">{{item.name}}</td>
                  <td ng-click="onEdit(item._id)">{{item.noOfClicks}}</td>
                  <td ng-click="onEdit(item._id)">{{item.link}}</td>
                  <td align="center" nowrap width="100">
                    <a
                      title="Edit"
                      class="btn btn-xs btn-simple btn-icon"
                      href="#"
                      ng-click="onEdit(item._id)"
                    >
                      <i class="fa fa-edit fa-1-5x" aria-hidden="true"></i>
                    </a>
                    <a
                      title="Delete"
                      class="btn btn-xs btn-simple btn-icon"
                      href="#"
                      ng-click="deleteItem(item._id)"
                    >
                      <i class="fa fa-trash fa-1-5x" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="row">
                    <div class="col-md-12" align="right">
                      <ul pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm pagination-margin" ng-disabled="isBusy === true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" ng-change="pageChanged()" ></ul>
                    </div>
                </div> -->
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
